<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DummyProject" configfailurepolicy="skip" parallel="false">

<test name="UI and API Secnarios">
<classes>
	 
	<class name="weatherReport.UI.Test.UITest_ValidateTemperature" />
	<class name="weatherApiTest.APITTest_ValidateWeatherResCityWise" />
	<class name="weatherComparator.ComparatorTest" />	
		</classes> 
</test>

 

	
</suite> 